{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block content %}
<div class="card fade-in" style="margin-top: 20px;">
    <h1>Be the Change!</h1>
    <p>Every small action counts! By composting, you're saving the planet one scrap at a time. Compost360 makes it easy and rewarding.</p>
    <h3>Get Started Today</h3>

</div>
<div class="purpose-container">
    <h1 class="animated-title">What is your purpose?</h1>
    <form action="{{ url_for('handle_purpose') }}" method="post">
        <div class="purpose-options">
            <button type="submit" name="purpose" value="individual" class="btn">
                Individual
            </button>
            <button type="submit" name="purpose" value="society" class="btn">
                Society/Organization
            </button>
            <button type="submit" name="purpose" value="research" class="btn">
                Research
            </button>
             <a href="http://192.168.4.1/" class="btn">
                Configure Device
            </a>
        </div>
    </form>
</div>
{% endblock %}
